extends layout

block content
  h1= title
  p.
    Welcome to #{ title }, your premier destination for comprehensive insights
    into the world of basketball, where teams and players come together in one
    central hub of expertise and excitement.
  h2 Content
  p There are currently #[b #{ teamsCount }] teams and #[b #{ playersCount }] players in our database.
  h2 Explore
  p
    a(href='/teams') Teams
  p
    a(href='/players') Players
  h2 Contribute
  p
    a(href='/teams/new') Add team
  p
    a(href='/players/new') Add player
