@use '../utils' as *;

body {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px 10px;
  font-family: 'Lato', sans-serif;
}

a {
  color: $blue;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &.external {
    &::after {
      content: ' ↗';
      position: relative;
      bottom: 4px;
    }
  }
}

input,
button {
  font-family: inherit;
  border-radius: 4px;
}

input {
  padding: 4px 8px;
  border: 1px solid grey;

  &[type='radio'] {
    margin-right: 6px;

    &:checked + label {
      font-weight: 700;
    }
  }
}

button {
  padding: 5px 15px;
  border: none;
  background-color: rgba($blue, 0.75);
  color: white;
  transition: background-color 0.2s;

  &:hover,
  &:focus {
    background-color: rgba($blue, 0.65);
  }

  &:active {
    background-color: rgba($blue, 0.85);
  }
}

fieldset {
  padding-block: 12px 18px;
  border-color: rgba($blue, 0.5);

  :not(:first-of-type) {
    margin-top: 6px;
  }
}
