.main {
  a:not(:has(button)):not(.omit-before) {
    &::before {
      content: '➤ ';
      visibility: hidden;
    }

    &:hover,
    &:focus {
      &::before {
        visibility: visible;
      }
    }
  }
}
